.contact-text{
    text-align: center;
}
#contact{
    width: 100%;
}
.contacts{
    display: flex;
    flex-direction: row;
    
}
.contactMe{
    flex: 1;
    border: solid 1px rgb(138, 186, 237);
    padding: 10px;
}
.socials{
    flex: 1;
    border: solid 1px rgb(138, 186, 237);
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
   
}